<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>conditionals&renderinglists</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <!-- v-for works similarily to a for loop and allows us to loop through an array and replicate the element on which v-for sits -->
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons"> {{ person.name }}</li>
            <li v-for="person in persons"> <div v-for="(value, key, index) in person"> {{ key }}: {{ value }} ({{ index }})
            </div></li>
        </ul>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient}}</h1>
            <p>{{ index }}</p>
        </template>
    </div>
    


    <script>
        new Vue({
            el:'#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Lauren', age: 28, color: 'purple'},
                    {name: 'Samantha', age: 'unknown', color: 'pink'}
                ]
            }
        });
    </script>
</body>
</html>